.top{
    height:500px;
    width:100%;
    background-image:url(message-background.jpeg);
    background-size:cover;
    opacity:0.7;
}

.messages{
    padding-top:100px;
    text-align:center;
}

.messages h1,h2{
    font-size:50px;
    color:#ffb6c1;
}

.messages p{
   color:#778899;
   font-size:25px; 
}    
